@import "./variables.scss";
.aboutWrap {
  margin: 0px 120px 100px 120px;
  padding: 20px 50px 40px 50px;
  font-family: $main-fontFamily;
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0px 0px 6px 1px $lightGray-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_title {
    padding: 0px 15px;
    margin-bottom: 30px;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
  }
  &_shortDescriptionTop,
  &_shortDescriptionBottom {
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }
}
.aboutWrap_characteristicsAndGoals {
  display: flex;
  align-items: start;
  justify-content: space-between;

  .characteristics,
  .goals {
    display: block;
    width: 44%;
    text-align: justify;
    padding: 20px 50px;
    line-height: 24px;
    height: 500px;
    border-radius: 70px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    margin: 35px 0;
    &_list {
      list-style: square inside;
      &_title {
        letter-spacing: 2px;
        text-align: center;
        font-size: 25px;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
      }
      &_element {
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
    & strong {
      font-size: 19px;
    }
  }
  .goals {
    width: 54%;
  }
}
.goals {
  position: relative;
  &_gifCat {
    position: absolute;
    bottom: -39.5%;
    right: -10%;
    transform: scale(0.5);
  }
}
@media (max-width: 1550px) {
  .aboutWrap {
    .aboutWrap_characteristicsAndGoals {
      .characteristics,
      .goals {
        height: 630px;
      }
    }
  }
  .goals {
    &_gifCat {
      bottom: -31.3%;
      right: -23%;
    }
  }
}
@media (max-width: 1275px) {
  .aboutWrap {
    margin: 0px 10px 100px 10px;

    .aboutWrap_characteristicsAndGoals {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .characteristics,
      .goals {
        width: 100%;

        height: 420px;
      }
      .characteristics {
        order: 1;
      }
      .goals {
        &_gifCat {
          bottom: -47%;
          right: -15%;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .aboutWrap {
    .aboutWrap_characteristicsAndGoals {
      .characteristics,
      .goals {
        height: 530px;
      }

      .goals {
        &_gifCat {
          bottom: -37.2%;
          right: -20%;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .aboutWrap {
    padding: 20px 15px 40px 15px;
    margin: 0px 3px 100px 3px;
    &_shortDescriptionTop,
    &_shortDescriptionBottom {
      padding: 10px 15px;
    }
    .aboutWrap_characteristicsAndGoals {
      .characteristics,
      .goals {
        height: 600px;
        padding: 20px 15px;
      }

      .goals {
        &_gifCat {
          bottom: -33%;
          right: -22%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .aboutWrap {
    &_shortDescriptionTop,
    &_shortDescriptionBottom {
      font-size: 15px;
      line-height: 20px;
    }
    .aboutWrap_characteristicsAndGoals {
      .characteristics,
      .goals {
        height: 900px;
        &_list {
          list-style: none;
          text-align: start;
          &_title {
            font-size: 20px;
          }
          &_element {
            font-size: 18px;
            line-height: 19px;
          }
        }
      }

      .goals {
        &_list {
          &_element {
            margin-bottom: 50px;
          }
        }
        &_gifCat {
          bottom: -21.4%;
          right: -50%;
          transform: scale(0.4);
        }
      }
      .characteristics {
        &_list {
          &_element {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .aboutWrap {
    &_shortDescriptionTop,
    &_shortDescriptionBottom {
      font-size: 15px;
      line-height: 20px;
    }
    .aboutWrap_characteristicsAndGoals {
      .characteristics,
      .goals {
        height: 900px;
        &_list {
          list-style: none;
          text-align: start;
          &_title {
            font-size: 20px;
          }
          &_element {
            font-size: 14px;
            line-height: 19px;
          }
        }
      }

      .goals {
        &_list {
          &_element {
            margin-bottom: 20px;
          }
        }
        &_gifCat {
          bottom: -21.4%;
          right: -60%;
          transform: scale(0.4);
        }
      }
      .characteristics {
        &_list {
          &_element {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}
@media (max-width: 290px) {
  .aboutWrap {
    .aboutWrap_characteristicsAndGoals {
      .goals {
        &_gifCat {
          bottom: -21.3%;
          right: -68%;
        }
      }
    }
  }
}
