@import "./variables.scss";

.navWrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $lightGray-color;
  box-shadow: 0px 0px 6px 1px $lightGray-color;
  background-color: white;
  font-family: $main-fontFamily;
  font-weight: bold;
  &_nick {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
      display: block;
      margin-right: 5px;
    }
    &_K {
      animation: bounce 6s infinite;
      animation-delay: 0.3s;
    }
    &_L {
      animation: bounce 6s infinite;
      animation-delay: 3s;
    }
    &_E {
      animation: bounce 6s infinite;
      animation-delay: 6.1s;
    }
    &_M {
      animation: bounce 6s infinite;
      animation-delay: 2.5s;
    }
    &_C {
      animation: bounce 6s infinite;
      animation-delay: 4s;
    }
    &_I {
      animation: bounce 6s infinite;
      animation-delay: 9.4s;
    }
    &_A {
      animation: bounce 6s infinite;
      animation-delay: 5.7s;
    }
    &_lastK {
      animation: bounce 6s infinite;
      animation-delay: 1.5s;
    }
  }
  .navWrap_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 28px 10px 0;
    & div {
      margin-right: 50px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 20px;
      transition: 0.3s;
      line-height: 25px;
      width: 100px;
      text-align: center;
      text-shadow: 2px 2px 3px rgba(66, 68, 90, 0.6);
      &:hover {
        font-size: 25px;
      }
    }
  }
}

@keyframes bounce {
  0%,
  7%,
  15%,
  26%,
  33%,
  100% {
    transform: translateY(0);
  }
  13% {
    transform: translateY(-7px);
  }
  18% {
    transform: translateY(-4px);
  }
}
