@import "./variables.scss";

.navWrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $lightGray-color;
  box-shadow: 0px 0px 6px 1px $lightGray-color;
  background-color: white;
  font-family: $main-fontFamily;
  font-weight: bold;
  &_nick {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
      display: block;
      margin-right: 5px;
    }
    &_K {
      animation: bounce 6s infinite;
      animation-delay: 0.3s;
    }
    &_L {
      animation: bounce 6s infinite;
      animation-delay: 3s;
    }
    &_E {
      animation: bounce 6s infinite;
      animation-delay: 6.1s;
    }
    &_M {
      animation: bounce 6s infinite;
      animation-delay: 2.5s;
    }
    &_C {
      animation: bounce 6s infinite;
      animation-delay: 4s;
    }
    &_I {
      animation: bounce 6s infinite;
      animation-delay: 9.4s;
    }
    &_A {
      animation: bounce 6s infinite;
      animation-delay: 5.7s;
    }
    &_lastK {
      animation: bounce 6s infinite;
      animation-delay: 1.5s;
    }
  }
  .navWrap_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 28px 10px 0;
    & .nav_start,
    .nav_about,
    .nav_project,
    .nav_contact {
      margin-right: 50px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 20px;
      transition: 0.3s;
      line-height: 25px;
      width: 100px;
      text-align: center;
      text-shadow: 2px 2px 3px rgba(66, 68, 90, 0.6);
      &:hover {
        font-size: 25px;
      }
    }
  }
}

@keyframes bounce {
  0%,
  7%,
  15%,
  26%,
  33%,
  100% {
    transform: translateY(0);
  }
  13% {
    transform: translateY(-7px);
  }
  18% {
    transform: translateY(-4px);
  }
}
@media (max-width: 750px) {
  .navWrap {
    &_nick {
      margin-left: 20px;
    }
    .navWrap_nav {
      & .nav_start,
      .nav_about,
      .nav_project,
      .nav_contact {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 600px) {
  .navWrap {
    flex-direction: column;
    .navWrap_nav {
      margin: 2px 0px 10px 0;

      & .nav_start,
      .nav_about,
      .nav_project,
      .nav_contact {
        margin-right: 0px;
      }
    }
    &_nick {
      margin: 10px 0 0 0;
    }
  }
}
@media (max-width: 420px) {
  .navWrap {
    .navWrap_nav {
      margin: -1px;
      flex-wrap: wrap;
      justify-content: center;
      width: 102%;
      & .nav_start,
      .nav_about,
      .nav_project,
      .nav_contact {
        width: 49%;
        margin: 1px;
        &:nth-child(1) {
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          box-shadow: inset -14px -14px 5px -10px rgba(0, 0, 0, 0.753);
        }
        &:nth-child(2) {
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          box-shadow: inset 14px -14px 5px -10px rgba(0, 0, 0, 0.753);
        }
        &:nth-child(3) {
          border-right: 1px solid black;
          border-top: 1px solid black;
          box-shadow: inset -14px 14px 5px -10px rgba(0, 0, 0, 0.753);
        }
        &:nth-child(4) {
          border-left: 1px solid black;
          border-top: 1px solid black;
          box-shadow: inset 14px 14px 5px -10px rgba(0, 0, 0, 0.753);
        }
      }
    }
    &_nick {
      display: none;
    }
  }
}
